@use '../../../styles/variables' as *;
.Standards {
	color: $gray;
	background: #eee;
	padding: 80px 0;

	.titleWrapper {
		display: flex;
		flex-direction: column;
		gap: 15px;
		margin-bottom: 80px;
	}

	.titleInner {
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 20px;
	}

	.titleLine {
		flex-shrink: 1;
		display: inline-block;
		width: 100%;
		max-width: 100%;
		height: 10px;
		border-radius: 30px;
		background: $gray;
	}

	.title {
		flex-shrink: 0;
		color: $gray;
	}

	.subtitle {
		max-width: 800px;
		align-self: flex-end;
		font-family: $manrope;
		font-weight: 400;
		font-size: clamp(16px, 2vw, 22px);
		letter-spacing: 0.02em;
		color: $gray;
	}

	.list {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(255px, 1fr));
		gap: 40px;
		margin-bottom: 40px;
	}

	.innerTitle {
		position: relative;
		padding-top: 30px;

		font-family: $manrope;
		font-weight: 400;
		font-size: clamp(18px, 2vw, 24px);
		text-transform: uppercase;
		color: $gray;

		&::before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 8px;
			height: 8px;
			border-radius: 100%;
			background-color: $orange;
		}
	}

	.imgWrapper {
		border-radius: 20px;
		aspect-ratio: 1216 / 177;
		overflow: hidden;

		& img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
}

@media (max-width: 768px) {
	.Standards {
		padding: 40px 0;
		.titleWrapper {
			margin-bottom: 60px;
		}
		.titleLine {
			height: 4px;
		}

		.list {
			gap: 20px;
		}
	}
}

@media (max-width: 559px) {
	.Standards {
		.item {
			& h3 {
				padding-top: 0;
				padding-left: 30px;

				&::before {
					content: '';
					position: absolute;
					top: 9px;
					left: 0;
				}
			}
		}
	}
}

@media (max-width: 500px) {
	.Standards {
		.titleWrapper {
			margin-bottom: 40px;
		}

		.titleLine {
			display: none;
		}

		.title {
			flex-shrink: 1;
		}

		.imgWrapper {
			border-radius: 20px;
			aspect-ratio: 343 / 77;
		}
	}
}
