@use '../../../styles/variables' as *;

.ProblemsSolutions {
	background-color: #eee;
	padding: 80px 0;
	border-radius: 100px;
	color: $gray;

	// ----------------------------------------------------
	.Problems {
		padding: 60px;
		border: 1px solid $gray;
		border-radius: 50px;
		margin-bottom: 100px;

		.title {
			color: $gray;
			margin-bottom: 80px;
		}

		.list {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			gap: 40px;
		}

		.item {
			display: flex;
			flex-direction: column;
			gap: 30px;
		}

		.text {
			text-transform: uppercase;

			& span {
				color: rgba(31, 31, 31, 0.4);
			}
		}
	}
	// ----------------------------------------------------
	.Solutions {
		.title {
			color: $gray;
			margin-bottom: 40px;
		}

		.wrapper {
			display: flex;
			align-items: center;
			justify-content: space-between;
			gap: 20px;
		}

		.imgWrapper {
			position: relative;
			width: 100%;
			max-width: 588px;
			border-radius: 20px;
			aspect-ratio: 588 / 424;
			overflow: hidden;
		}

		.content {
			width: 100%;
			max-width: 588px;
			display: flex;
			flex-direction: column;
			gap: 20px;
		}

		.item {
			width: 100%;
			display: flex;
			align-items: center;
			gap: 20px;
		}

		.block {
			padding: 20px;
			border-radius: 20px;
			height: 150px;
			background-color: $white;
			display: flex;
			justify-content: space-between;
			gap: 22px;
		}

		.block1 {
			max-width: 299px;
			height: 148px;
		}

		.block2 {
			max-width: 269px;
			height: 148px;
		}
		.block3 {
			max-width: 197px;
			height: 118px;
		}
		.block4 {
			max-width: 371px;
			height: 118px;
		}
		.block5 {
			max-width: 320px;
			height: 118px;
		}
		.block6 {
			display: block;
			max-width: 248px;
			height: 118px;
			border-radius: 50px;
			background-color: $orange;
			display: flex;
			align-items: center;
			justify-content: center;

			font-family: $manrope;
			font-weight: 600;
			font-size: 24px;
			text-transform: uppercase;
			text-align: center;
			color: $gray;

			transition: all 0.3s ease;

			&:hover {
				color: $white;
				border-radius: 30px;
			}
		}

		.iconWrapper {
			width: 24px;
			height: 24px;
			display: flex;
			align-items: center;
			justify-content: center;
			flex-shrink: 0;
		}

		.textWrapper {
			display: flex;
			flex-direction: column;
			gap: 10px;
			& h3 {
				font-family: $benzin;
				font-weight: 400;
				font-size: clamp(16px, 2vw, 22px);
				letter-spacing: 0.02em;
				color: #000;
			}

			& p {
				font-family: $manrope;
				font-weight: 500;
				font-size: 14px;
				letter-spacing: 0.03em;
				color: $gray;
			}
		}
	}
}

// ----------------------------------------------------
@media (max-width: 991px) {
	.ProblemsSolutions {
		.Problems {
			padding: 40px 20px;

			.title {
				margin-bottom: 60px;
			}
		}

		.Solutions {
			.content,
			.item {
				gap: 10px;
			}
			.block {
				gap: 10px;
			}
		}
	}
}

@media (max-width: 920px) {
	.ProblemsSolutions {
		.Solutions {
			.wrapper {
				flex-direction: column-reverse;
			}
		}
	}
}

@media (max-width: 768px) {
	.ProblemsSolutions {
		border-radius: 50px;
		padding: 40px 0;

		.Problems {
			margin-bottom: 80px;
			.title {
				margin-bottom: 40px;
			}

			.list {
				gap: 20px;
			}

			.item {
				gap: 15px;
			}
		}
	}
}

@media (max-width: 570px) {
	.ProblemsSolutions {
		border-radius: 20px;

		.Problems {
			border-radius: 16px;

			.list {
				grid-template-columns: repeat(1, 1fr);
			}
		}

		.Solutions {
			.content {
				max-width: 100%;
			}

			.item {
				gap: 20px;
				max-width: 100%;
				flex-direction: column;
			}

			.block {
				width: 100%;
				gap: 20px;
				justify-content: flex-start;
			}
			.block1 {
				max-width: 100%;
				height: fit-content;
			}
			.block2 {
				max-width: 100%;
				height: fit-content;
			}
			.block3 {
				max-width: 100%;
				height: fit-content;
			}
			.block4 {
				max-width: 100%;
				height: fit-content;
			}
			.block5 {
				max-width: 100%;
				height: fit-content;
			}
			.block6 {
				display: inline-block;
				max-width: fit-content;
				align-self: flex-start;
				height: fit-content;
				border-radius: 30px;
				padding: 10px 20px;
				font-weight: 700;
				font-size: 18px;
			}

			.imgWrapper {
				position: relative;
				width: 100%;
				max-width: 100%;
				height: 200px;
				aspect-ratio: auto;
				border-radius: 20px;
			}
		}
	}
}
